<div class="container h- flex justify-center font-noto">
  <div class="w-1/2 mt-auto mb-auto grid grid-cols-2 p-4 gap-3">
    <div class="flex flex-col gap-2 w-full">
      <h1 class="text-3xl font-bold">{{ producto.nombre }}</h1>
      <p class="italic">{{ producto.marca }}</p>
      <p>Precio: $ {{ producto.precio }}</p>
      <div class="flex gap-2">
        <p>Caliicacion:</p>
        <ul class="flex flex-row gap-1 items-center">
          <li *ngFor="let in of counter(producto.calidad)">
            <img
              src="https://api.iconify.design/fluent-emoji-flat:star.svg"
              alt=""
            />
          </li>
        </ul>
      </div>
      <p>Descripcion</p>
      <p class="text-sm overflow-auto h-48 italic">
        {{ producto.descripcion }}
      </p>
      <div class="mt-auto flex gap-3 justify-end">
        <a
          class="p-3 bg-slate-900 text-white border-white border-2 border-solid rounded-3xl hover:bg-slate-600 hover:rounded-3xl"
          href="/edit/{{ producto._id }}"
          >Editar</a
        >
        <button
          (click)="deleteBook()"
          class="p-3 bg-red-600 text-white border-white border-2 border-solid rounded-3xl hover:bg-red-900 hover:rounded-3xl"
        >
          Eliminar
        </button>
      </div>
    </div>
  </div>
</div>
