<div class="container h- flex justify-center font-noto">
  <div class="w-2/4 mt-auto mb-auto flex flex-col jus p-4 gap-2">
    <h2 class="text-xl font-bold text-center">Añadir Producto</h2>
    <form
      class="grid gap-3 grid-cols-2 w-full"
      [formGroup]="checkoutForm"
      (ngSubmit)="onSubmit()"
    >
      <div>
        <div>
          <label for="title"> Nombre </label>
          <input
            class="w-full border-2 border-gray-400 border-solid p-1 rounded-lg text-sm focus:border-blue-700"
            id="title"
            type="text"
            formControlName="nombre"
          />
        </div>
        <div>
          <label for="author"> Marca </label>
          <input
            class="w-full border-2 border-gray-400 border-solid p-1 rounded-lg text-sm focus:border-blue-700"
            id="author"
            type="text"
            formControlName="marca"
          />
        </div>
        <div>
          <label for="precio"> Precio </label>
          <input
            class="w-full border-2 border-gray-400 border-solid p-1 rounded-lg text-sm focus:border-blue-700"
            id="precio"
            type="number"
            formControlName="precio"
          />
        </div>

        <div>
          <label for="descripcion"> Descripcion </label>
          <textarea
            formControlName="descripcion"
            id="descripcion"
            class="w-full border-2 border-gray-400 border-solid p-1 rounded-lg text-sm focus:border-blue-700"
          ></textarea>
        </div>
        <div>
          <h3>Calificacion</h3>
          <div class="flex gap-3 h-10">
            <div class="h-10 w-10">
              <input
                class="radio-stars"
                type="radio"
                id="star1"
                value="1"
                formControlName="calidad"
              />
              <label class="star-label w-10" for="star1">
                <img
                  class="w-full"
                  src="https://api.iconify.design/fluent-emoji-flat:star.svg"
                  alt=""
                />
              </label>
            </div>
            <div class="h-10 w-10">
              <input
                class="radio-stars"
                type="radio"
                id="star2"
                value="2"
                formControlName="calidad"
              />
              <label class="star-label" for="star2">
                <img
                  class="w-full"
                  src="https://api.iconify.design/fluent-emoji-flat:star.svg"
                  alt=""
                />
              </label>
            </div>
            <div class="h-10 w-10">
              <input
                class="radio-stars"
                type="radio"
                value="3"
                id="star3"
                formControlName="calidad"
              />
              <label class="star-label" for="star3">
                <img
                  class="w-full"
                  src="https://api.iconify.design/fluent-emoji-flat:star.svg"
                  alt=""
                />
              </label>
            </div>
            <div class="h-10 w-10">
              <input
                class="radio-stars"
                type="radio"
                value="4"
                id="star4"
                formControlName="calidad"
              />
              <label class="star-label" for="star4">
                <img
                  class="w-full"
                  src="https://api.iconify.design/fluent-emoji-flat:star.svg"
                  alt=""
                />
              </label>
            </div>
            <div class="h-10 w-10">
              <input
                class="radio-stars"
                type="radio"
                value="5"
                id="star5"
                formControlName="calidad"
              />
              <label class="star-label" for="star5">
                <img
                  class="w-full"
                  src="https://api.iconify.design/fluent-emoji-flat:star.svg"
                  alt=""
                />
              </label>
            </div>
          </div>
        </div>
        <button
          class="p-3 bg-slate-900 text-white border-white border-2 border-solid rounded-3xl hover:bg-slate-600 hover:rounded-3xl"
          type="submit"
        >
          Guardar
        </button>
      </div>
    </form>
  </div>
</div>
