.star-label img {
  filter: drop-shadow(1px 0 0 gray) drop-shadow(0 1px 0 gray)
    drop-shadow(-1px 0 0 gray) drop-shadow(0 -1px 0 gray);
}

.radio-stars:checked + .star-label > img {
  filter: drop-shadow(0 0 0 yellow);
}

.radio-stars {
  display: none;
}
